@media screen and (min-width: 512px) {
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .nav-links {
    
        flex-direction: row;
    }

    .nav-links li {
        font-size: 24px;
        border: 2px solid #333;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 1em;
        margin-right: 1em;
        box-shadow: 2px 2px 2px #333;
    }

    #hamburger-button {
        display: none;
    }
    
} 